* {
  box-sizing: border-box;
}

.App {
  // text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
}

.iteration-heading {
  text-align: left;
  margin-left: 0.5em;
}

.iteration-heading-2 {
  text-align: left;
  margin-left: 0.5em;
  margin-top: 0.25em;
}

.iteration-heading-3 {
  text-align: left;
  margin: 0.25em 0.5em 0.2em;
}

.iteration-heading-4 {
  text-align: left;
  margin: 0.75em 0.5em 0.4em;
}

#id-card,
#box-color {
  display: flex;
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em;
  min-height: 5em;
}

#id-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.3em;
}

#greetings,
#random {
  display: flex;
  border: 1px solid black;
  margin: 1em;
  padding: 0.2em;
}

#color-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#credit-card {
  width: 20em;
  height: 11em;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5em;
  margin: 0 0 1em 1em;
  padding: 1em;
}

#bank-logo {
  display: flex;
  justify-content: flex-end;
  img {
    height: 1.5em;
  }
}

#card-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-dots {
  font-size: 2em;
}

#card-digits {
  font-size: 1.8em;
  margin-left: 0.4em;
}

#like-button {
  margin-left: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
}

#clickable-image {
  background-color: grey;
  border-radius: 0.25em;
  width: 9em;
  padding: 0.35em;
  margin-left: 1em;
}

#rating {
  font-size: 2.5em;
  margin-left: 0.4em;
}

#driver-card {
  background-color: #354a96;
  margin: 1em;
  height: 8em;
  border-radius: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#driver-container {
  display: flex;
}

#driver-img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#driver-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

#driver-name {
  font-size: 1.3em;
}

#driver-rating {
  font-size: 1.6em;
  line-height: 1em;
  margin-bottom: 0.15em;
}

#driver-car {
  font-size: 0.75em;
}

#dice {
  margin-left: 1em;
  background-color: rgb(255, 211, 129);
  border-radius: 1em;
  width: 8em;
  height: 8em;
  img {
    width: 100%;
  }
}

#carousel {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  width: 10em;
  button {
    width: 50%;
    padding: 0.5em 1em;
    background-color: dimgrey;
  }
}

#numbers-table {
  margin-left: 1em;
}

#number-block {
  width: 3.5em;
  height: 3.5em;
  border: 2px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#facebook {
  margin-left: 0.5em;
}

#facebook-card {
  width: 25em;
  height: 10em;
  border: 1px solid black;
  display: inline-flex;
  padding: 0.5em;
  margin: 0.5em;
}

#facebook-img {
  width: 9em;
  img {
    width: 100%;
    height: 100%;
  }
}

#facebook-data {
  font-size: 1.3em;
  margin-left: 0.7em;
}

#facebook-country-btns {
  margin-left: 0.2em;
  width: 45em;
  button {
    margin: 0.3em;
    padding: 0.3em 0.8em;
  }
}

#search-form {
  margin: 0.8em 0.5em;
  input {
    padding: 0.3em 0.5em;
    font-size: 1.2em;
  }
}

#signup-page {
  width: 30em;
  background-color: white;
  // border: 1px solid red;
  margin-left: 1em;
  height: 20em;
}

label {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.form-control,
.form-select {
  padding: 0.6em 0.7em;
  margin-bottom: 1em;
}

#signup-message {
  margin-top: 0.7em;
}
